# Copyright (c) 2023 Koji Hasegawa.
# This software is released under the MIT License.

name: PR Labeler

on:
  pull_request:
    types: [ opened ]

jobs:
  pr-labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: TimonVS/pr-labeler-action@v4
        with:
          configuration-path: .github/pr-labeler.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
